<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LL(1)文法分析</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style type="text/css">
    .container {
      margin-top: 100px;
    }

    .row {
      margin-bottom: 20px;
    }

    .form-control {
      min-height: 200px;
    }

    .btn-row {
      justify-content: center;
    }

    .btn {
      width: 100%;
      height: 60px;
      font-size: 1.3rem;
    }

    .col-middle {
      padding-left: 0;
      padding-right: 0;
    }

    .col-left {
      padding-right: 0;
    }

    .col-left {
      padding-left: 0;
    }
  </style>
</head>

<body>
  <div id="app">

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{errorMsg}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            提示：<br>1. 可推出 epsilon 写法为：N-> <br>2. 区分大小写 <br>3. 一条规则一行
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">LL1文法规则</span>
            </div>
            <textarea class="form-control" aria-label="LL1文法规则" v-model="rules">{{rules}}</textarea>
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">待识别的符号串</span>
            </div>
            <textarea class="form-control" aria-label="待识别的符号串" v-model="inputString">{{inputString}}</textarea>
          </div>
        </div>

      </div>
      <div class="row btn-row">

        <div class="col">
          <button type="button" class="btn" :class="btnState" @click="start">分析</button>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">分析栈</th>
                <th scope="col">剩余串</th>
                <th scope="col">所用产生式</th>
                <th scope="col">动作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="step in steps">
                <td>{{step.stack}}</td>
                <td>{{step.leftString}}</td>
                <td>{{step.usedRule}}</td>
                <td>{{step.action}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  function getLeftHand(rule) {
    return rule.substring(0, rule.indexOf('->'));
  }

  function getRightHand(rule) {
    return rule.substring(rule.indexOf('->') + 2);
  }

  function getReversedRightHand(rule) {
    return getRightHand(rule).split('').reverse();
  }

  function checkRules(rules) {
    return rules.findIndex(rule => !rule.includes('->')) !== -1 ?
      false : true;
  }

  function getSetsTotalSize(sets) {
    return Object.values(sets)
      .map(set => set.size)
      .reduce((prev, curr) => prev + curr);
  }

  function appendSet(setA, setB) {
    setB.forEach(item => { setA.add(item) });
  }

  function initToken(rules) {
    let nonTerminals = new Set();
    let terminals = new Set();
    terminals.add('#');
    for (const rule of rules) {
      nonTerminals.add(getLeftHand(rule));
    }
    for (const rule of rules) {
      getRightHand(rule).split('').forEach(token => {
        if (!nonTerminals.has(token))
          terminals.add(token);
      })
    }

    return [nonTerminals, terminals]
  }


  function getNullables(rules) {
    let nullables = new Set();
    let size = 0;
    let newSize = 0;
    do {
      size = nullables.size;
      for (const rule of rules) {
        const nonTerminal = getLeftHand(rule);
        const rightHand = getRightHand(rule)
        if (rightHand === '') nullables.add(nonTerminal);
        else {
          let nullable = true;
          for (const token of rightHand.split('')) {
            if (!nullables.has(token)) {
              nullable = false;
              break;
            }
          }
          if (nullable) nullables.add(nonTerminal);
        }
      }
      newSize = nullables.size;
    } while (newSize !== size)

    return nullables;
  }


  function getFirst(rules, nonTerminals, terminals, nullables) {
    const first = {};
    for (const nonTerminal of nonTerminals) {
      first[nonTerminal] = new Set();
    }
    let size = 0;
    let newSize = 0;
    do {
      size = getSetsTotalSize(first);
      for (const rule of rules) {
        const nonTerminal = getLeftHand(rule);
        for (const token of getRightHand(rule).split('')) {
          if (terminals.has(token)) {
            first[nonTerminal].add(token);
            break;
          }
          else {
            appendSet(first[nonTerminal], first[token])
            if (!nullables.has(token)) break;
          }
        }
      }
      newSize = getSetsTotalSize(first);
    } while (newSize !== size)

    return first;
  }


  function getFollow(rules, nonTerminals, terminals, nullables, first) {
    const follow = {};
    for (const nonTerminal of nonTerminals) {
      follow[nonTerminal] = new Set();
    }
    follow[rules[0][0]].add('#');
    let size = 0;
    let newSize = 0;
    do {
      size = getSetsTotalSize(follow);
      for (const rule of rules) {
        const nonTerminal = getLeftHand(rule);
        let temp = new Set(follow[nonTerminal]);
        for (const token of getRightHand(rule).split('').reverse()) {
          if (terminals.has(token)) {
            temp = new Set([token]);
          }
          else {
            appendSet(follow[token], temp);
            if (nullables.has(token)) appendSet(temp, first[token]);
            else temp = new Set(first[token]);
          }
        }
      }
      newSize = getSetsTotalSize(follow);
    } while (newSize !== size)

    return follow;
  }

  function startLL1(rules, inputString) {
    if (inputString[inputString.length - 1] !== '#')
      inputString = inputString + '#';
    if (!checkRules(rules)) {

      return ['format', []];
    }

    const [nonTerminals, terminals] = initToken(rules);
    const nullables = getNullables(rules);
    const leftString = inputString.split('');
    const stack = [rules[0][0]];
    const steps = [];

    const first = getFirst(rules, nonTerminals, terminals, nullables);
    const follow = getFollow(rules, nonTerminals, terminals, nullables, first);
    const firstS = getFirstS();
    const table = getTable();

    if (!checkTable()) {

      return ['notLL1', []];
    }

    pushStep(stack, leftString, -1, 'initialize');
    while (stack.length) {
      const t = stack.pop();
      if (nonTerminals.has(t)) {
        const usedRuleIndex = table[t][leftString[0]];
        if (usedRuleIndex === null || usedRuleIndex === undefined)
          return ['fail', steps];
        getReversedRightHand(rules[usedRuleIndex]).forEach(token => {
          stack.push(token);
        });
        pushStep(stack, leftString, usedRuleIndex);
      }
      else {
        const s = leftString.shift();
        if (t !== s) return ['fail', steps];
        pushStep(stack, leftString, -1, 'get next');
      }
    }

    return [undefined, steps];


    function getFirstS() {
      const firstS = {};
      rules.forEach((rule, index) => {
        firstS[index] = new Set();
        let allRightHandTokenIsNullable = true;
        for (const token of getRightHand(rule).split('')) {
          if (terminals.has(token)) {
            firstS[index].add(token);
            allRightHandTokenIsNullable = false;
            break;
          }
          else if (nonTerminals.has(token)) {
            appendSet(firstS[index], first[token]);
            if (!nullables.has(token)) {
              allRightHandTokenIsNullable = false;
              break;
            }
          }
        }
        if (allRightHandTokenIsNullable)
          appendSet(firstS[index], follow[getLeftHand(rule)]);
      });

      return firstS;
    }


    function getTable() {
      const table = {};
      nonTerminals.forEach(nonTerminal => {
        table[nonTerminal] = {};
        terminals.forEach(terminal => {
          table[nonTerminal][terminal] = [];
        });
      });
      rules.forEach((rule, index) => {
        const nonTerminal = getLeftHand(rule);
        firstS[index].forEach(token => {
          table[nonTerminal][token].push(index);
        });
      });

      return table;
    }


    function checkTable() {
      for (const nonTerminal in table) {
        for (const terminal in table[nonTerminal]) {
          if (table[nonTerminal][terminal].length > 1)

            return false;
        }
      }
      for (const nonTerminal in table) {
        for (const terminal in table[nonTerminal]) {
          table[nonTerminal][terminal] = table[nonTerminal][terminal][0];
        }
      }

      return true;
    }

    function pushStep(stack, leftString, usedRuleIndex, action) {
      const stackString = stack.join('');
      const leftStringString = leftString.join('');
      let actionString = action || '';
      if (usedRuleIndex !== -1) {
        actionString =
          `pop; push(${getReversedRightHand(rules[usedRuleIndex]).join('')})`;
      }
      steps.push({
        stack: stackString,
        leftString: leftStringString,
        usedRule: usedRuleIndex === -1 ? '' : rules[usedRuleIndex],
        action: actionString,
      });
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      rules:
// 默认用例
`E->TG
G->+TG
G->-TG
G->
T->FS
S->*FS
S->/FS
S->
F->(E)
F->i`,
// // 测试用例
// `Z->d
// Z->XYZ
// Y->c
// Y->
// X->Y
// X->a`,
      inputString: 'i+i*i',
      isAccepted: null,
      steps: [],
      errorMsg: '',
    },

    computed: {
      btnState() {
        return this.isAccepted ? 'btn-success' :
          (this.isAccepted === null ? 'btn-primary' : 'btn-danger');
      },
    },

    methods: {
      start() {
        const rules = this.rules.split('\n').map(rule => rule.replace(/\s+/g, ''));
        const inputString = this.inputString.trim();
        while (rules[rules.length - 1] === '') rules.pop();
        if (!rules.length || !inputString) return;

        const [errorMsg, steps] = startLL1(rules, inputString);
        console.log(errorMsg);
        this.steps = steps;
        if (errorMsg === undefined) {
          this.isAccepted = true;
        }
        else if (errorMsg === 'fail') {
          this.isAccepted = false;
        }
        else if (errorMsg === 'format' || errorMsg === 'notLL1') {
          this.isAccepted = null;
          this.errorMsg = errorMsg === 'format' ? '输入格式错误' : '非LL(1)文法'
          $('#exampleModal').modal('show');
        }
      }
    }
  });
</script>

</html>
