<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>词法分析</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../utils/index.css" />
</head>

<body>
  <div id="app">

    <div class="container">
      <div class="row">

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">关键字<br>(使用空格与换行进行分隔)</span>
            </div>
            <textarea class="form-control" aria-label="关键字" v-model="keywords">{{keywords}}</textarea>
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">输入程序</span>
            </div>
            <textarea class="form-control" aria-label="输入程序" v-model="input">{{input}}</textarea>
          </div>
        </div>

      </div>
      <div class="row btn-row">

        <div class="col">
          <button type="button" class="btn" :class="btnState" @click="start">分析</button>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">单词</th>
                <th scope="col">二元序列</th>
                <th scope="col">类型</th>
                <th scope="col">位置（行，列）</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in results">
                <td>{{item.token}}</td>
                <td>{{item.sequence}}</td>
                <td>{{item.type}}</td>
                <td>{{item.position}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="./lexer.js"></script>
<script src="../../utils/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      keywords: 'do end for if printf scanf then while',
      input:
`if i=0 then  n++;
a <= 3b %);`,
      results: [],
      hasError: null,
    },

    computed: {
      btnState() {
        return this.hasError === false ? 'btn-success' :
          (this.hasError === null ? 'btn-primary' : 'btn-danger');
      },
    },

    methods: {
      start() {
        const keywords = this.keywords.replace(/\n+/g, ' ').trim().split(/\s+/g);
        const input = this.input.trimEnd();
        if (!keywords.length || !input) return;

        const results = lexer(new Set(keywords), input);
        let hasError = false;
        for (const item of results) {
          if (item.type === 'ERROR') {
            hasError = true;
            break;
          }
        }

        this.results = results;
        this.hasError = hasError;
      }
    }
  });
</script>

</html>
